.text-center{
    text-align: center;
}
.flex {
    display:flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.futr{
    position: fixed;  
    left: 0px;  
    bottom: 0px;  
    right: 0px;   
    width: 100%;  
    background-color: gray;  
    color: white;  
    text-align: center;  
}
.para{
    justify-content: center;
}